body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b6ccfe;
    font-family: Arial, Helvetica, sans-serif;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    margin-top: 20px;
}

div button {
    font-size: medium;
    font-weight: bold;
    background-color: #74c69d;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}

.container {
    width: 600px;
    height: 600px;
    display: grid;
    border: 2px solid black;
}